/*
  Solarized Dark Grey - https://github.com/ristomatti/node-red-contrib-theme-solarized-dark-grey
*/

/*
* Solarized dark grey colors
*
*   background0  #141414
*   background1  #212121
*   background2  #2e2e2e
*   background3  #3a3a3a
*
* Solarized dark base colors
*
*   base03       #002b36
*   base02       #073642
*   base01       #586e75
*   base00       #657b83
*   base0        #839496
*   base1        #93a1a1
*   base2        #eee8d5
*   base3        #fdf6e3
*
* Solarized accent colors
*
*   yellow       #b58900
*   orange       #cb4b16
*   red          #dc322f
*   magenta      #d33682
*   violet       #6c71c4
*   blue         #268bd2
*   cyan         #2aa198
*   green        #859900
*/

/* Placeholder values */
::-webkit-input-placeholder { /* Chrome */
  color: #3a3a3a !important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #3a3a3a !important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #3a3a3a !important; opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #3a3a3a !important; opacity: 1;
}

/* Scroll bar */
::-webkit-scrollbar {
  max-width: 10px !important;
  max-height: 10px !important;
  background: #141414 !important;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: #202020 !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px !important;
  background: #333333 !important;
}

::-webkit-scrollbar-thumb:hover {
  background: #3e3e3e !important;
}

/* Styles */
.ace-tomorrow .ace_comment { font-style: italic; color: #586e75; }
.ace-tomorrow .ace_constant.ace_character, .ace-tomorrow .ace_constant.ace_other { color: #CB4B16; }
.ace-tomorrow .ace_constant.ace_language { color: #B58900; }
.ace-tomorrow .ace_constant.ace_numeric { color: #D33682; }
.ace-tomorrow .ace_cursor { color: #eee8d5; }
.ace-tomorrow .ace_entity.ace_name.ace_function, .ace-tomorrow .ace_punctuation~.ace_support.ace_function, .ace-tomorrow .ace_support.ace_function { color: #b58900; }
.ace-tomorrow .ace_entity.ace_name.ace_tag, .ace-tomorrow .ace_variable { color: #93a1a1; }
.ace-tomorrow .ace_entity.ace_other.ace_attribute-name { color: #93A1A1; }
.ace-tomorrow .ace_fold { background-color: #268BD2; border-color: #93A1A1; }
.ace-tomorrow .ace_gutter { background: #212121; color: #657b83; }
.ace-tomorrow .ace_gutter-active-line { background-color: #0d3440; }
.ace-tomorrow .ace_identifier { color: #93a1a1; }
.ace-tomorrow .ace_indent-guide { background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWNg0Db1ZVCxc/sPAAd4AlUHlLenAAAAAElFTkSuQmCC) right repeat-y; }
.ace-tomorrow .ace_invisible { color: rgba(147, 161, 161, 0.50); }
.ace-tomorrow .ace_keyword, .ace-tomorrow .ace_meta, .ace-tomorrow .ace_storage, .ace-tomorrow .ace_support.ace_class, .ace-tomorrow .ace_support.ace_type { color: #93a1a1; font-weight: bold; }
.ace-tomorrow .ace_marker-layer .ace_active-line, .ace-tomorrow .ace_marker-layer .ace_selection { background: rgba(255, 255, 255, 0.1); }
.ace-tomorrow .ace_marker-layer .ace_bracket { margin: -1px 0 0 -1px; border: 1px solid rgba(147, 161, 161, 0.50); }
.ace-tomorrow .ace_marker-layer .ace_selected-word { border: 1px solid #073642; }
.ace-tomorrow .ace_marker-layer .ace_step { background: rgb(102, 82, 0); }
.ace-tomorrow .ace_paren.ace_lparen, .ace-tomorrow .ace_paren.ace_rparen { color: #839496; }
.ace-tomorrow .ace_print-margin { width: 1px; background: #212121; }
.ace-tomorrow .ace_string { color: #6c71c4; }
.ace-tomorrow .ace_string.ace_regexp { color: #cb4b16; }
.ace-tomorrow .ace_variable.ace_language { color: #93a1a1; font-weight: bold; }
.ace-tomorrow .ace_variable.ace_parameter { color: #cb4b16; }
.ace-tomorrow { font-family: "Fira Code", monospace; -webkit-font-feature-settings: "liga"on, "calt"on; font-feature-settings: "liga"on, "calt"on; background-color: #141414; color: #93A1A1; }
.ace-tomorrow.ace_multiselect .ace_selection.ace_start { box-shadow: 0 0 3px 0px #002B36; }
.ace-tomorrow .ace_gutter { background-color: #212121 !important; }
.ace-tomorrow { background-color: #141414 !important; }

.red-ui-button { color: #586e75; border: 1px solid #3a3a3a; background: #2e2e2e; }
.red-ui-button:not(.disabled):active { color: #666 !important; background: #212121 !important; }
.red-ui-button:not(.disabled):focus { color: #999 !important; }
.red-ui-button:not(.disabled):hover { color: #666 !important; background: #ddd; }
.red-ui-button.disabled { color: #ccc !important; }
.red-ui-button.selected:not(.disabled) { color: #AAA !important; background: #212121 !important; }
.red-ui-button.toggle { color: #888 !important; background: #141414; }
.red-ui-button.toggle:not(.disabled):active { color: #666 !important; background: #212121 !important; }
.red-ui-button.toggle:not(.disabled):focus { color: #999 !important; }
.red-ui-button.toggle:not(.disabled):hover { color: #666 !important; background: #ddd; }
.red-ui-button.toggle.disabled { color: #ccc !important; }
.red-ui-button.toggle.disabled { color: #ddd !important; }
.red-ui-button.toggle.selected:not(.disabled) { color: #888 !important; background: #141414; border-bottom-color: #aaa; }
.red-ui-button.toggle.selected:not(.disabled) { color: #AAA !important; background: #212121 !important; }

.red-ui-debug-filter-box { background: #141414; }
.red-ui-debug-msg { border-left: 0; border-right: 0; border-bottom: 1px solid #3a3a3a; }
.red-ui-debug-msg-buffer-opts a { color: #bbb; }
.red-ui-debug-msg-buffer-opts a:hover { color: #999; background: #2e2e2e; }
.red-ui-debug-msg-element { color: #93a1a1; }
.red-ui-debug-msg-expandable:hover .red-ui-debug-msg-object-handle { color: #b72828 !important; }
.red-ui-debug-msg-expandable:hover { background: #2e2e2e; }
.red-ui-debug-msg-level-20 { border-left-color: #f99; border-right-color: #f99; }
.red-ui-debug-msg-level-30 { border-left-color: #3a3a3a; border-right-color: #3a3a3a; }
.red-ui-debug-msg-level-log { border-left-color: #2e2e2e; border-right-color: #2e2e2e; }
.red-ui-debug-msg-meta { background: #141414; color: #93a1a1; }
.red-ui-debug-msg-name { color: #777; }
.red-ui-debug-msg-object-handle { color: #93a1a1; }
.red-ui-debug-msg-object-key { color: #859900; }
.red-ui-debug-msg-payload { background: #141414; }
.red-ui-debug-msg-row:hover { background: #3a3a3a !important; }
.red-ui-debug-msg-row.red-ui-debug-msg-row-pinned { background: #212121; }
.red-ui-debug-msg-topic { color: #eee8d5; }
.red-ui-debug-msg-type-meta { color: #93a1a1; }
.red-ui-debug-msg-type-null { color: #b58900; }
.red-ui-debug-msg-type-number { color: #268bd2; }
.red-ui-debug-msg-type-other { color: #d33682; }
.red-ui-debug-msg-type-string { color: #6c71c4; }
.red-ui-debug-window { background: #141414; }

.red-ui-deploy-button { background: #8C101C; color: #fdf6e3 !important; }
.red-ui-deploy-button-group.open #btn-deploy-options { background: #8C101C !important; }
.red-ui-deploy-button:active { background: #4C0A17; color: #93a1a1 !important; }
.red-ui-deploy-button:hover { background: #6E0A1E; }
.red-ui-deploy-button:not(.disabled) span { color: #fdf6e3 !important; }

.red-ui-editableList .nr-db-sb-group-list-header:hover, .red-ui-editableList .nr-db-sb-widget-list-header:hover { background: #2e2e2e; }
.red-ui-editableList .nr-db-sb-tab-list-header { background: #212121; }
.red-ui-editableList-border { border: 1px solid #212121; }
.red-ui-editableList-container li .red-ui-editableList-item-handle { color: #eee; }
.red-ui-editableList-container li { background: #141414; border-bottom: 1px solid #2e2e2e; }
.red-ui-editableList-container li.red-ui-editableList-item-deleting { background: #fee; }

.red-ui-flow-drag-line { stroke: #ff7f0e; }
.red-ui-flow-link-background { stroke: #141414; }
.red-ui-flow-link-group-active .red-ui-flow-link-port { stroke: #ff7f0e; }
.red-ui-flow-link-line { stroke: #888; }
.red-ui-flow-link-link { stroke: #ccc; }
.red-ui-flow-link-outline { stroke: #141414; }
.red-ui-flow-link-port { fill: #141414; stroke: #ccc; }
.red-ui-flow-node { stroke: #999; }
.red-ui-flow-node_badge { stroke: #5d7291; fill: #bed1ff; }
.red-ui-flow-node_badge_label { fill: #141414; }
.red-ui-flow-node_error { stroke: #ff0000; fill: #ff7f0e; }
.red-ui-flow-node_highlighted { border-color: #dd1616 !important; stroke: #dd1616; }
.red-ui-flow-node_invalid { stroke: #ff0000; }
.red-ui-flow-node_label { fill: #333; }
.red-ui-flow-node_label_unknown { fill: #e00 !important; }
.red-ui-flow-node_label_white { fill: #eee !important; }
.red-ui-flow-node_selected { stroke: #ff7f0e !important; }
.red-ui-flow-node_status_label { fill: #888; stroke: #000; }
.red-ui-flow-node_tools { fill: #ddd; stroke: #999; }
.red-ui-flow-node_tools_hovered { stroke: #ff7f0e; fill: #eee; }
.red-ui-flow-node_unknown { stroke: #f33; }
.red-ui-flow-node-diff-added { color: #009900; }
.red-ui-flow-node-diff-changed { color: #f89406; }
.red-ui-flow-node-diff-conflicted { color: purple; }
.red-ui-flow-node-diff-count { color: #999; }
.red-ui-flow-node-diff-deleted { color: #f80000; }
.red-ui-flow-node-diff-empty { background: #2e2e2e; }
.red-ui-flow-node-diff-node-added .red-ui-flow-node-diff-status { color: #009900; }
.red-ui-flow-node-diff-node-changed .red-ui-flow-node-diff-status { color: #f89406; }
.red-ui-flow-node-diff-node-conflict .red-ui-flow-node-diff-status { color: #9b45ce; }
.red-ui-flow-node-diff-node-deleted .red-ui-flow-node-diff-status { color: #f80000; }
.red-ui-flow-node-diff-node-description { color: #444; }
.red-ui-flow-node-diff-node-entry-conflict.red-ui-flow-node-diff-select-local .red-ui-flow-node-diff-node-local { background: #e7ffe3; }
.red-ui-flow-node-diff-node-entry-conflict.red-ui-flow-node-diff-select-local .red-ui-flow-node-diff-node-local label { border-left-color: #b8daad; }
.red-ui-flow-node-diff-node-entry-conflict.red-ui-flow-node-diff-select-local .red-ui-flow-node-diff-node-remote { background: #ffe1e1; }
.red-ui-flow-node-diff-node-entry-conflict.red-ui-flow-node-diff-select-local .red-ui-flow-node-diff-node-remote label { border-left-color: #e4bcbc; }
.red-ui-flow-node-diff-node-entry-conflict.red-ui-flow-node-diff-select-remote .red-ui-flow-node-diff-node-local { background: #ffe1e1; }
.red-ui-flow-node-diff-node-entry-conflict.red-ui-flow-node-diff-select-remote .red-ui-flow-node-diff-node-local label { border-left-color: #e4bcbc; }
.red-ui-flow-node-diff-node-entry-conflict.red-ui-flow-node-diff-select-remote .red-ui-flow-node-diff-node-remote { background: #e7ffe3; }
.red-ui-flow-node-diff-node-entry-conflict.red-ui-flow-node-diff-select-remote .red-ui-flow-node-diff-node-remote label { border-left-color: #b8daad; }
.red-ui-flow-node-diff-node-entry-node { background: #ddd; }
.red-ui-flow-node-diff-node-entry-properties { color: #666; }
.red-ui-flow-node-diff-node-meta { color: #999; }
.red-ui-flow-node-diff-node-moved .red-ui-flow-node-diff-status { color: #3f81b3; }
.red-ui-flow-node-diff-node-unchanged .red-ui-flow-node-diff-status { color: #bbb; }
.red-ui-flow-node-diff-property-cell.red-ui-flow-node-diff-node-changed { background: #fff2e1 !important; }
.red-ui-flow-node-diff-property-cell.red-ui-flow-node-diff-node-conflict { background: #ffdad4 !important; }
.red-ui-flow-node-diff-selectbox:hover { background: #2e2e2e; }
.red-ui-flow-node-diff-tab { background: #141414; }
.red-ui-flow-node-diff-toolbar { color: #666; background: #2e2e2e; }
.red-ui-flow-node-help { line-height: 1.5em; }
.red-ui-flow-node-text-editor { border: 1px solid #3a3a3a !important; }
.red-ui-flow-node-text-editor-container { border: none !important; }
.red-ui-flow-subflow-port { fill: #eee; stroke: #999; }

.red-ui-info-table-property-header { color: #666; }
.red-ui-info-table-property-header:hover, .red-ui-info-table-property-header:focus { color: #666; }
.red-ui-info-table-tip { color: #bbb; background-color: #141414; }

.red-ui-menu-dropdown { background: #212121 !important; }
.red-ui-menu-dropdown * .fa-check-square { color: #e0e0e0; }
.red-ui-menu-dropdown * .fa-square { color: #e0e0e0; }
.red-ui-menu-dropdown-submenu.disabled>a:before { border-right-color: #444; }
.red-ui-menu-dropdown-submenu>a:before { border-right-color: #e0e0e0; }
.red-ui-menu-dropdown>li.disabled>a:hover>[class^="icon-"] { background-image: url("vendor/bootstrap/img/glyphicons-halflings.png") !important; }
.red-ui-menu-dropdown>li>a:hover, .red-ui-menu-dropdown>li>a:focus, .red-ui-menu-dropdown-submenu:hover>a, .red-ui-menu-dropdown-submenu:focus>a { background: #3a3a3a !important; }

.red-ui-notification { background-color: #141414; color: #666; }
.red-ui-notification-error { border-color: #AD1625; }
.red-ui-notification-success { border-color: #4B8400; }
.red-ui-notification-warning { border-color: #D74108; }

.red-ui-palette-category { border-bottom: 1px solid #3a3a3a; }
.red-ui-palette-content { background: #141414; }
.red-ui-palette-content div .red-ui-palette-label { color: #eee !important; }
.red-ui-palette-content>div>div.red-ui-palette-node { background-color: #555 !important; }
.red-ui-palette-header { background: #2e2e2e; }
.red-ui-palette-header span, .red-ui-info-table .red-ui-info-table-property-header { color: #fdf6e3 !important; }
.red-ui-palette-header:hover { background: #3a3a3a !important; }
.red-ui-palette-icon { background-size: contain; }
.red-ui-palette-icon-container { background-color: rgba(0, 0, 0, 0.05); }
.red-ui-palette-label { color: #000 !important; }
.red-ui-palette-node { background: #ddd; }
.red-ui-palette-node { border: 1px solid #2e2e2e !important; }
.red-ui-palette-node-config .red-ui-palette-icon-container { background-color: #e8e8e8; }
.red-ui-palette-node-config { background: #93a1a1; color: #eee; }
.red-ui-palette-node-config-none { color: #ddd; }
.red-ui-palette-node-config-type { color: #999; }
.red-ui-palette-node-config-unused { border-color: #aaa; background: #f9f9f9; color: #aaa; }
.red-ui-palette-node:hover .red-ui-palette-port { border-color: #999; background-color: #eee; }
.red-ui-palette-node:hover { border-color: #ff7f0e; background-color: #eee; }
.red-ui-palette-port { background: #d9d9d9; }
.red-ui-palette-search { background: #141414; }

.red-ui-popover { background: #141414; }
.red-ui-popover:after { border-color: rgba(136, 183, 213, 0); border-right-color: #141414; }
.red-ui-popover:before { border-color: #2e2e2e; border-right-color: #3a3a3a; }

.red-ui-search { background: white; }
.red-ui-search-empty { color: #bbb; }
.red-ui-search-result { color: #444; }
.red-ui-search-result-node { background: #ddd; }
.red-ui-search-result-node-label { color: #222; }
.red-ui-search-result:hover { color: #444; background: #212121 !important; border-left-color: #212121; border-right-color: #212121; }
.red-ui-search-results-container .red-ui-editableList-container { background: white; background: #f9f9f9; }
.red-ui-search-results-container .red-ui-editableList-container li.selected .red-ui-search-result { border-left-color: #999; border-right-color: #999; }
.red-ui-search-results-container .red-ui-editableList-container li.selected { background: #212121 !important; }
.red-ui-search-results-container { background: #f9f9f9; }

.red-ui-searchBox-container .red-ui-searchBox-resultCount { background: #eee; color: #666; }
.red-ui-searchBox-container i { color: #666; }

.red-ui-sidebar-node-config { background: #2e2e2e; }
.red-ui-sidebar-node-config-filter-info { background: #2e2e2e; color: #999; }
.red-ui-sidebar-shade { background: rgba(25, 25, 25, 0.5); }

.red-ui-tab-button { background: #141414; }
.red-ui-tab-button a { border: 1px solid #3a3a3a !important; }
.red-ui-tab-button a { color: #888 !important; background: #141414; }
.red-ui-tab-button a:not(.disabled):active { color: #666 !important; background: #212121 !important; }
.red-ui-tab-button a:not(.disabled):focus { color: #999 !important; }
.red-ui-tab-button a:not(.disabled):hover { color: #666 !important; background: #2e2e2e !important; }
.red-ui-tab-button a.disabled { color: #ccc !important; }
.red-ui-tab-button a.selected:not(.disabled) { color: #AAA !important; background: #212121 !important; }
.red-ui-tab-close { background: transparent; color: #aaa; }
.red-ui-tab-close:hover { background: #ddd !important; }
.red-ui-tab-link-buttons { background: #141414 !important; border-bottom: 1px solid #3a3a3a !important; }
.red-ui-tab-link-buttons a { border: 1px solid #3a3a3a !important; }
.red-ui-tab-link-buttons a.red-ui-tab-link-button:not(.active), .red-ui-tab-link-button-menu { background: #212121 !important; }
.red-ui-tab-link-buttons a.selected:not(.disabled):not(:disabled) { background: #2e2e2e !important; }
.red-ui-tab-scroll a { color: #888; }

.red-ui-tabs { background: #141414; }
.red-ui-tabs ul li { background: #212121 !important; }
.red-ui-tabs ul li { background: #f0f0f0; color: #93a1a1 !important; }
.red-ui-tabs ul li { border: 1px solid #2e2e2e !important; }
.red-ui-tabs ul li:not(.active) a:hover { color: #93a1a1 !important; background: #212121 !important; }
.red-ui-tabs ul li:not(.active) a:hover+a.red-ui-tab-close { background: #ddd; }
.red-ui-tabs ul li.active { background: #2e2e2e !important; border-bottom: 1px solid #3a3a3a !important; }
.red-ui-tabs ul li.active a span { color: #fdf6e3 !important; }
.red-ui-tabs ul li.active a.red-ui-tab-close { color: #aaa; background: #141414; }
.red-ui-tabs ul li.active a.red-ui-tab-close:hover { background: #2e2e2e !important; color: #fdf6e3 !important; }
.red-ui-tabs ul, .red-ui-tab-button, .red-ui-palette-search { border-bottom: 1px solid #2e2e2e !important; }
.red-ui-tabs.red-ui-tabs-vertical { border-right: 1px solid #212121; background: #141414; }

.red-ui-tray { background: #141414; }
.red-ui-tray { background: #2e2e2e !important; }
.red-ui-tray-breadcrumbs li:not(:last-child) { color: #999; }
.red-ui-tray-footer { background: #2e2e2e; }
.red-ui-tray-header { background: #2e2e2e; }
.red-ui-tray-header, .red-ui-tray-titlebar { border-bottom: 1px solid #2e2e2e; }
.red-ui-tray-resize-button { color: #888 !important; background: #141414; }
.red-ui-tray-resize-button:not(.disabled):active { color: #666 !important; background: #212121 !important; }
.red-ui-tray-resize-button:not(.disabled):focus { color: #999 !important; }
.red-ui-tray-resize-button:not(.disabled):hover { color: #666 !important; background: #ddd; }
.red-ui-tray-resize-button.disabled { color: #ccc !important; }
.red-ui-tray-resize-button.selected:not(.disabled) { color: #AAA !important; background: #212121 !important; }
.red-ui-tray-resize-handle { background: #3a3a3a; border: 1px solid #2e2e2e; }
.red-ui-tray-toolbar .ui-button, .node-input-name { color: #eee !important; background: #3a3a3a; border: 1px solid #333 !important; }
.red-ui-tray-toolbar button { color: #888 !important; background: #141414; border: 1px solid #3a3a3a; }
.red-ui-tray-toolbar button:not(.disabled):active { color: #666 !important; background: #212121 !important; }
.red-ui-tray-toolbar button:not(.disabled):focus { color: #999 !important; }
.red-ui-tray-toolbar button:not(.disabled):hover { color: #666 !important; background: #ddd; }
.red-ui-tray-toolbar button.disabled { color: #ccc !important; }
.red-ui-tray-toolbar button.primary { border-color: #AD1625; color: #eee !important; background: #AD1625; }
.red-ui-tray-toolbar button.primary:not(.disabled):not(.ui-button-disabled):hover { border-color: #6E0A1E; background: #6E0A1E; color: #eee !important; }
.red-ui-tray-toolbar button.primary.disabled, .red-ui-tray-toolbar button.primary.ui-state-disabled { color: #999 !important; border-color: #ccc; }
.red-ui-tray-toolbar button.selected:not(.disabled) { color: #AAA !important; background: #212121 !important; }

.red-ui-type-search .red-ui-search-result-node-label { color: #999; }
.red-ui-type-search .red-ui-search-result-node-port { background: #eee; }
.red-ui-type-search-shade { background: rgba(200, 200, 200, 0.5); background: rgba(255, 255, 255, 0.05); }

.red-ui-typedInput-container .red-ui-typedInput-input { outline: red; }
.red-ui-typedInput-container button { background: #212121 !important; color: #555; }
.red-ui-typedInput-container button:not(.disabled):active { background: #ddd; }
.red-ui-typedInput-container button:not(.disabled):hover { background: #ddd; }
.red-ui-typedInput-container button.disabled i { color: #bbb; }
.red-ui-typedInput-container button.red-ui-typedInput-option-trigger .red-ui-typedInput-option-label { background: #141414; }
.red-ui-typedInput-container.red-ui-typedInput-focus:not(.input-error) { border-color: rgba(85, 150, 230, 0.8) !important; }
.red-ui-typedInput-options { background: #141414; }
.red-ui-typedInput-options a { color: #333; }
.red-ui-typedInput-options a:active { background: #ddd; }
.red-ui-typedInput-options a:focus { background: #ddd; }
.red-ui-typedInput-options a:hover { background: #ddd; }

.sidebar-footer-button { color: #3a3a3a; border: 1px solid #3a3a3a; background: #2e2e2e; }
.sidebar-footer-button-toggle { color: #888 !important; background: #141414; }
.sidebar-footer-button-toggle:not(.disabled):active { color: #666 !important; background: #3a3a3a !important; }
.sidebar-footer-button-toggle:not(.disabled):focus { color: #999 !important; }
.sidebar-footer-button-toggle:not(.disabled):hover { color: #666 !important; background: #3a3a3a; }
.sidebar-footer-button-toggle.disabled { color: #ccc !important; }
.sidebar-footer-button-toggle.disabled { color: #ddd !important; }
.sidebar-footer-button-toggle.selected:not(.disabled) { color: #888 !important; background: #141414; border-bottom-color: #aaa; }
.sidebar-footer-button-toggle.selected:not(.disabled) { color: #AAA !important; background: #212121 !important; }
.sidebar-footer-button:not(.disabled):active { color: #666 !important; background: #3a3a3a !important; }
.sidebar-footer-button:not(.disabled):focus { color: #999 !important; }
.sidebar-footer-button:not(.disabled):hover { color: #666 !important; background: #3a3a3a; }
.sidebar-footer-button.disabled { color: #93a1a1 !important; }
.sidebar-footer-button.selected:not(.disabled) { color: #AAA !important; background: #3a3a3a !important; }

.sidebar-header { color: #666; border: 1px solid #2e2e2e; background: #2e2e2e; }
.sidebar-header-button { color: #3a3a3a; border: 1px solid #3a3a3a; background: #2e2e2e; }
.sidebar-header-button-toggle { color: #888 !important; background: #141414; }
.sidebar-header-button-toggle:not(.disabled):active { color: #666 !important; background: #212121 !important; }
.sidebar-header-button-toggle:not(.disabled):focus { color: #999 !important; }
.sidebar-header-button-toggle:not(.disabled):hover { color: #666 !important; background: #ddd; }
.sidebar-header-button-toggle.disabled { color: #ccc !important; }
.sidebar-header-button-toggle.disabled { color: #ddd !important; }
.sidebar-header-button-toggle.selected:not(.disabled) { color: #888 !important; background: #141414; border-bottom-color: #aaa; }
.sidebar-header-button-toggle.selected:not(.disabled) { color: #AAA !important; background: #212121 !important; }
.sidebar-header-button:not(.disabled):active { color: #666 !important; background: #3a3a3a !important; }
.sidebar-header-button:not(.disabled):focus { color: #999 !important; }
.sidebar-header-button:not(.disabled):hover { color: #666 !important; background: #3a3a3a; }
.sidebar-header-button.disabled { color: #ccc !important; }
.sidebar-header-button.selected:not(.disabled) { color: #AAA !important; background: #212121 !important; }

#red-ui-editor-config-scope-warning { color: #AD1625; }
#red-ui-editor-stack .red-ui-stack .red-ui-palette-category, #red-ui-sidebar .red-ui-stack .red-ui-palette-category { background: #2a2a2a; }

#red-ui-header .button { color: #C7C7C7; }
#red-ui-header .button:active, #red-ui-header .button.active { background: #121212; }
#red-ui-header .button:hover { border-color: #323232; }
#red-ui-header .logo span { color: #93a1a1 !important; }
#red-ui-header { background: #000; color: #C7C7C7; }
#red-ui-header li.open .button { background: #121212; border-color: #121212; }
#red-ui-header ul#btn-usermenu-submenu li a#btn-username>.menu-label { color: #141414; }
#red-ui-header ul#red-ui-header-button-deploy-options-submenu li a { color: #141414; }
#red-ui-header-button-deploy.disabled, #red-ui-header-button-deploy.disabled+#red-ui-header-button-deploy-options { background: #212121 !important; color: #93a1a1 !important; }
#red-ui-header-button-deploy.disabled+#red-ui-header-button-deploy-options:active { background: #3a3a3a !important; }
#red-ui-header-button-deploy.disabled+#red-ui-header-button-deploy-options:hover { background: #2e2e2e !important; }

#red-ui-palette { background: #2e2e2e; }
#red-ui-palette { border: 1px solid #2e2e2e !important; }

#red-ui-palette-editor .expanded .red-ui-palette-module-set-button { background: #f3f3f3 !important; }
#red-ui-palette-editor .palette-editor-toolbar { background: #2e2e2e; }
#red-ui-palette-editor .red-ui-editableList-container li .disabled .red-ui-palette-module-name { color: #aaa; }
#red-ui-palette-editor .red-ui-editableList-container li .disabled .red-ui-palette-module-version { color: #aaa; }
#red-ui-palette-editor .red-ui-editableList-container li .disabled { background: #2e2e2e; }
#red-ui-palette-editor .red-ui-palette-module-count { background: #eee; }
#red-ui-palette-editor .red-ui-palette-module-description { color: #999; }
#red-ui-palette-editor .red-ui-palette-module-meta { color: #666; }
#red-ui-palette-editor .red-ui-palette-module-meta.disabled { color: #ccc; }
#red-ui-palette-editor .red-ui-palette-module-more { background: #f0f0f0; }
#red-ui-palette-editor .red-ui-palette-module-more a { color: #AD1625; }
#red-ui-palette-editor .red-ui-palette-module-more a:hover { background: #ddd; }
#red-ui-palette-editor .red-ui-palette-module-set-disabled .red-ui-palette-module-type { color: #999; }
#red-ui-palette-editor .red-ui-palette-module-set-disabled { background: #eee; }
#red-ui-palette-editor .red-ui-palette-module-shade { background: rgba(200, 200, 200, 0.5); }
#red-ui-palette-editor .red-ui-palette-module-shade-status { color: #666; }
#red-ui-palette-editor .red-ui-palette-module-type { color: #666; }
#red-ui-palette-editor .red-ui-palette-module-type-swatch { background: #141414; }
#red-ui-palette-editor { background: #141414; }

#red-ui-sidebar .button { color: #3a3a3a; border: 1px solid #3a3a3a; background: #2e2e2e; }
#red-ui-sidebar .button:not(.disabled):active { color: #666 !important; background: #3a3a3a !important; }
#red-ui-sidebar .button:not(.disabled):focus { color: #999 !important; }
#red-ui-sidebar .button:not(.disabled):hover { color: #666 !important; background: #ddd; }
#red-ui-sidebar .button.disabled { color: #93a1a1 !important; }
#red-ui-sidebar .button.selected:not(.disabled) { color: #AAA !important; background: #3a3a3a !important; }
#red-ui-sidebar .red-ui-help .red-ui-info-table-header { color: #93a1a1; }
#red-ui-sidebar .red-ui-help dl.message-properties { border: 1px solid #2e2e2e; }
#red-ui-sidebar .red-ui-help dl.message-properties>dt { color: #b58900; }
#red-ui-sidebar .red-ui-info-table-tips .help-key { background: #2e2e2e; border: 1px solid #3a3a3a; }
#red-ui-sidebar .red-ui-info-table-tips { background-color: inherit; }
#red-ui-sidebar .red-ui-info-table-tips { border-top: 1px solid #3a3a3a; }
#red-ui-sidebar .red-ui-stack { background: #141414; }
#red-ui-sidebar { background: #141414; }
#red-ui-sidebar { border: 1px solid #2e2e2e !important; }
#red-ui-sidebar table.red-ui-info-table { background-color: #212121; }
#red-ui-sidebar table.red-ui-info-table tr:not(.blank) td:first-child { background: inherit; }
#red-ui-sidebar-footer { border: 1px solid #2e2e2e; background: #2e2e2e; }
#red-ui-sidebar-separator { background: #2e2e2e !important; }
#red-ui-sidebar.closing { background: #eee; border-color: #900; }

#red-ui-workspace { border: 1px solid #3a3a3a; }
#red-ui-workspace-chart { background: #e3e3e3; }
#red-ui-workspace-chart .red-ui-flow-node-label { fill: #fdf6e3; }
#red-ui-workspace-chart .red-ui-workspace-chart-grid line { stroke: #212121; }
#red-ui-workspace-chart .nr-ui-view-lasso { stroke: #93a1a1; fill: rgba(150, 150, 150, 0.1); }

#red-ui-workspace-footer { border-top: 1px solid #3a3a3a !important; background: #2e2e2e; }

#red-ui-workspace-toolbar .button { color: #888 !important; background: #141414; border: 1px solid #2e2e2e !important; }
#red-ui-workspace-toolbar .button-group .button.active { background: #212121 !important; }
#red-ui-workspace-toolbar .button:focus { outline: 1px solid rgba(85, 150, 230, 0.2); }
#red-ui-workspace-toolbar .button:not(.disabled):active { color: #666 !important; background: #212121 !important; }
#red-ui-workspace-toolbar .button:not(.disabled):focus { color: #999 !important; }
#red-ui-workspace-toolbar .button:not(.disabled):hover { color: #666 !important; background: #ddd; }
#red-ui-workspace-toolbar .button.disabled { color: #ccc !important; }
#red-ui-workspace-toolbar .button.selected:not(.disabled) { color: #AAA !important; background: #212121; }
#red-ui-workspace-toolbar .spinner-value { color: #888; border-top: 1px #3a3a3a !important; border-bottom: 1px solid #3a3a3a !important; background: #f9f9f9; }
#red-ui-workspace-toolbar { color: #888; background: #141414; border-bottom: 1px solid #3a3a3a !important; }

body { background: #2e2e2e; }
code { color: #dc322f; background-color: #002b36; border: 0; }
code, pre { color: #93a1a1; }
g.red-ui-flow-link-selected path.red-ui-flow-link-line { stroke: #ff7f0e; }
g.red-ui-flow-link-unknown path.red-ui-flow-link-line { stroke: red; }
hr { border-top: 1px solid #2e2e2e; border-bottom: 1px solid #2e2e2e; }
html * { color: #93a1a1; }
input:-moz-placeholder, textarea:-moz-placeholder { color: #bbb; }
input:-ms-input-placeholder, div[contenteditable="true"]:-ms-input-placeholder, textarea:-ms-input-placeholder { color: #bbb; }
input::-webkit-input-placeholder, div[contenteditable="true"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #bbb; }
input:focus:invalid, div[contenteditable="true"]:focus:invalid, textarea:focus:invalid, select:focus:invalid { color: #b94a48; border-color: #ee5f5b; }
input:focus:invalid:focus, div[contenteditable="true"]:focus:invalid:focus, textarea:focus:invalid:focus, select:focus:invalid:focus { border-color: #e9322d; }
input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] { background-color: #eeeeee; }
input[type="radio"][disabled], input[type="checkbox"][disabled], input[type="radio"][readonly], input[type="checkbox"][readonly] { background-color: transparent; }
legend { color: #333333; }
legend small { color: #999999; }
pre { background-color: #002b36; }
rect.red-ui-flow-node { fill: #555; stroke: #2e2e2e !important; }
rect.red-ui-flow-node_selected { stroke: #fff !important; }
rect.red-ui-flow-node~text.red-ui-flow-node_label { fill: #eee; }
select { background-color: #141414; }
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], div[contenteditable="true"], .uneditable-input { border: 1px solid #3a3a3a; color: #93a1a1; }
select:focus, input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus { outline: thin dotted #333; }
svg g g:nth-child(1)>rect:not([class*="lasso"]) { fill: #141414; }
svg g g:nth-child(1)>rect:not([class*="lasso"]).red-ui-flow-node { fill: #555; }
svg g line { stroke: #212121; }
table.red-ui-info-table * { color: #93a1a1 !important; }
table.red-ui-info-table td:first-child { border: 1px solid #2e2e2e !important; }
table.red-ui-info-table td:first-child { color: #666; }
table.red-ui-info-table td:last-child { color: #666; }
table.red-ui-info-table tr { border: 1px solid #2e2e2e !important; }
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], div[contenteditable="true"], .uneditable-input { background-color: #141414; }
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, div[contenteditable="true"]:focus, .uneditable-input:focus { border-color: #3a3a3a; outline: thin dotted \9; }
